# Copyright lowRISC contributors (COSMIC project).
# Licensed under the Apache License, Version 2.0, see LICENSE for details.
# SPDX-License-Identifier: Apache-2.0

# Build artefacts
build
scratch

# Verilator sim outputs
*.fst
*.fst.hier
*.log
*.dasm
*.csv

# GTKWave save files
*.gtkw

# Python environment and cache
__pycache__
.venv

# direnv
.direnv/

# DVSim
scratch/
# clangd
.cache
